<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>New Employee Credentials Creation </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center text-bold">  New Employee Signup </h1>
    </div>
    <div class="card-body">
        <h2> Please fill out the following fields with your information </h2>
        <form th:action="@{/newEmployee/credentials}" method="post" th:object="${employeeCredentialsForm}" autocomplete="off" >
            <div class="card-body">
                <div id="employeeCredentials">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="employeeId"> EmployeeId: </label>
                        <div class="col-sm-10">
                            <input class="form-control-plaintext" id="employeeId" type="text" th:readonly th:field="*{employeeId}" name="employeeId" th:value="${employeeCredentialsForm.employeeId}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="password"> Password: </label>
                        <div class="col-sm-10">
                            <input required class="form-control" id="password" type="text" th:field="*{password}" name="password" placeholder="ex:Bob" maxlength="15" minlength="8"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}">
                                <span><p th:errors="*{password}"> Invalid password </p></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="employeeRole"> Employee Role: </label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{employeeRole}" id="employeeRole">
                                <option th:each="role :${T(edu.bowiestate.hotelManagement.employee.Employee.EmployeeRole).values()}"
                                        th:value="${role}"
                                        th:text="${role}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Save Employee"/> Save Employee</button>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>