<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>HouseKeeping Home </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand align-left" href="/home">Hotel Management Center Home</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a id="homeLink" class="nav-link" th:href="@{/home}">Home
                </a>
            </li>
            <li class="nav-item">
                <a id="logoutLink" class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center text-bold"> House Keeping Home</h1>
    </div>
    <div id="Current_Employee_Tasks" class="card-body">
        <div>
            <h2> Your Open Tasks </h2>
            <div>
                <div class="table-responsive text-center">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Task Id </th>
                            <th scope="col"> Owner </th>
                            <th scope="col"> Room # </th>
                            <th scope="col"> Deadline Date </th>
                            <th scope="col"> Type </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Action </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="houseKeepTask: ${ownedTasks}">
                            <td th:text="${houseKeepTask.taskId}"> Task Id</td>
                            <td th:text="${houseKeepTask.getEmployeeName()}"> Firstname </td>
                            <td th:text="${houseKeepTask.room.roomNum}"> Room Num  </td>
                            <td th:text="${houseKeepTask.deadlineDate}"> Deadline Date </td>
                            <td th:text="${houseKeepTask.type}"> Status </td>
                            <td th:text="${houseKeepTask.status}"> Status </td>
                            <td> <a th:href="|/houseKeepTask/${houseKeepTask.taskId}/update|"> Update </a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="UnOwned_Tasks" class="card-body">
        <div>
            <h2> Unowned Tasks </h2>
            <div>
                <div class="table-responsive text-center">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Task Id </th>
                            <th scope="col"> Owner </th>
                            <th scope="col"> Room # </th>
                            <th scope="col"> Deadline Date </th>
                            <th scope="col"> Type </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Action </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="houseKeepTask: ${unownedTasks}">
                            <td th:text="${houseKeepTask.taskId}"> Task Id</td>
                            <td th:text="${houseKeepTask.getEmployeeName()}"> Firstname </td>
                            <td th:text="${houseKeepTask.room.roomNum}"> Room Num  </td>
                            <td th:text="${houseKeepTask.deadlineDate}"> Deadline Date </td>
                            <td th:text="${houseKeepTask.type}"> Type </td>
                            <td th:text="${houseKeepTask.status}"> Status </td>
                            <td> <a th:href="|/houseKeepTask/${houseKeepTask.taskId}/claim|"> Claim </a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>