<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hotel Management Application Login </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div th:if="${signupSuccess}">
    New User created Successful please log in.
</div>
<div class="card">
    <img class="card-img-top" th:src="@{/hotel.jpg}" width="500" height="200"/>
    <div class="card-body">
        <h1 class="card-title text-center text-bold">  Login  </h1>
        <form th:action="@{/login}" method="post" autocomplete="off" >
            <div class="input-group mb-3">
                <div class="form-group">
                    <label for="username"> EmployeeId : </label>
                    <input id="username" class="form-control" type="text" name="username"/>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="form-group">
                    <label for="password"> Password: </label>
                    <input id="password" class="form-control" type="password" name="password"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Sign In"> Sign In</button>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>