<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Reservation Update </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand align-left" href="/home">Hotel Management Center Home</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a id="homeLink" class="nav-link" th:href="@{/home}">Home
                </a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_MANAGER')" class="nav-item">
                <a id="hotelDetailsLink" class="nav-link" th:href="@{/hotelDetails}"> Manage Hotel Details </a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_MANAGER')" class="nav-item">
                <a id="vacancyListLink" class="nav-link" th:href="@{/vacancyList}"> Vacancy List </a>
            </li>
            <li class="nav-item">
                <a id="currentReservationsLink" class="nav-link" th:href="@{/reservation/current}"> Current Reservations </a>
            </li>
            <li class="nav-item">
                <a id="upcomingReservationsLink" class="nav-link" th:href="@{/reservation/upcoming}"> Upcoming Reservations </a>
            </li>
            <li class="nav-item">
                <a id="houseKeepingTasksLink" class="nav-link" th:href="@{/houseKeepingTasks}"> House-Keeping Tasks </a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_MANAGER')" class="nav-item">
                <a id="statusReportsLink" class="nav-link" th:href="@{/statusReports}"> Status Reports </a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_MANAGER')" class="nav-item">
                <a id="newEmployeeLink" class="nav-link" th:href="@{/newEmployee}"> Add Employee </a>
            </li>
            <li class="nav-item">
                <a id="logoutLink" class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center text-bold"> Reservation Update Management </h1>
    </div>
    <div id="updateSuccessMessage" th:if="${updateSuccessful}">
        Update Successful
    </div>
    <div id="hotelDetails" class="card-body">
        <h2> Hotel Details:  </h2>
        <form th:action="@{/reservation/update}" method="post" th:object="${reservationUpdateForm}" autocomplete="off" >
            <div class="card-body col-lg-12">
                <div class="form-group col">
                    <label for="confirmNum" class="col-sm-4 col-form-label"> Reservation Confirmation Number:</label>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control-plaintext" id="confirmNum" th:field="*{confirmNum}" th:value="${reservation.confirmNum}" th:text="${reservation.confirmNum}"/>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="roomNum" class="col-sm-4 col-form-label"> Update Room Number </label>
                    <div class="col-sm-8">
                        <select class="form-control selectpicker" th:field="*{roomNum}" id="roomNum">
                            <option selected th:value="${reservation.room.roomNum}" th:text="${reservation.room.roomNum}"></option>
                            <option th:each="room :${availableRooms}"
                                    th:if="room.roomNum != ${reservation.room.roomNum}"
                                    th:value="${room.roomNum}"
                                    th:text="${room.roomNum}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="card-body col-md-6">
                    <div class="form-group col">
                        <div class="col-sm-8">
                            <label for="startDate" class="col-sm-4 col-form-label"> Update Start Date </label>
                            <div class="input-group date">
                                <input type="date" class="form-control datepicker" th:field="*{startDate}" id="startDate" th:value="${reservation.startDate}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body col-md-6">
                    <div class="form-group col">
                        <div class="col-sm-8">
                            <label for="endDate" class="col-sm-4 col-form-label"> Update End Date </label>
                            <div class="input-group date">
                                <input type="date" class="form-control datepicker" th:field="*{endDate}" id="endDate" th:value="${reservation.endDate}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body col-md-6">
                    <div class="form-group">
                        <label for="price" class="col-sm-4 col-form-label">Update Current Price: $<span th:text="${#numbers.formatDecimal(reservation.price, 0, 'COMMA', 2, 'POINT')}"></span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="price"
                                   data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': ${reservation.price}"
                                   autocomplete="off" th:field="*{price}" th:maxlength="5"  th:placeholder="${reservation.price}"/>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Save"/> Update Reservation </button>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>